@model Pinicules.Presentation.Models.LookupMoviesResult

@if (Model.Items == null || Model.Items.Count == 0)
{
    <div>@WebResources.NoResults</div>
}
else
{
    <div class="container" id="searchResults">
        <div class="row">
            @{
    int numItems = 0;
            }
            @foreach (var searchResultItem in Model.Items)
            {
                <div class="col-md-2 @((@numItems++ % 5) == 0 ? "col-md-offset-1" : "")">
                    <div class="thumbnail">
                        <img class="add-thumbnail" src="@searchResultItem.Image" alt="Sample Image">
                        <div class="add-movie">
                            <p>@searchResultItem.Title</p>
                            <p>
                                @using (Html.BeginForm("Add", "Movies", new { MovieId = searchResultItem.Id, Title = searchResultItem.Title }))
                                {
                                    <button type="submit" id="addMovie" class="btn btn-primary">@WebResources.AnadirPelicula</button>
                                }
                            </p>
                        </div>
                    </div>
                </div>

                if (((numItems) % 5) == 0)
                {
                    <br />
                    <div class="clearfix"></div>
                }
            }
        </div>
    </div>
}

<script>
    $('.thumbnail').on({
        mouseenter:
           function () {
               $(this).find('.add-thumbnail').fadeTo('fast', 0.2);
               $(this).find('.add-movie').fadeTo('fast', 1);
           },
        mouseleave:
           function () {
               $(this).find('.add-thumbnail').fadeTo('fast', 1);
               $(this).find('.add-movie').fadeTo('fast', 0);
           }
    });
</script>