@model Pinicules.Presentation.Models.MoviesSearchResult

<script type="text/javascript">
    function OnComplete(request, status) {
        $('.loadMoreMoviesForm').remove();
        $($('.loadMoreDiv')[$('.loadMoreDiv').length - 1]).html($(".loadMoreMoviesForm", request.responseText));

        $('html,body').animate({
            scrollTop: $($('.loadMoreDiv')[$('.loadMoreDiv').length - 1]).offset().top
        }, 1000);
    }

    function OnBegin(request, status) {
        $('#loadMoreMovies').button('loading');
    }
</script>

@if (Model.Items == null || Model.Items.Count == 0)
{
    <div class="col-md-6 col-md-offset-2">@WebResources.NoResults</div>
}
else
{
    <div class="container" id="searchResults">
        <div class="row">
            @{
                int numItems = 0;
            }
            @foreach (var searchResultItem in Model.Items)
            {
                <div class="col-md-2 @((@numItems++ % 5) == 0 ? "col-md-offset-1" : "")">
                    <div class="thumbnail">
                        <a href="@Url.Action("Movie", new { id = searchResultItem.Id, previousSearch = Model.SearchTerm})">
                            <img src="@searchResultItem.Image" alt="Sample Image">
                        </a>
                    </div>
                </div>

                if (((numItems) % 5) == 0)
                {
                    <br />
                    <div class="clearfix"></div>
                }
            }
        </div>
    </div>
    <div class="loadMoreDiv">
        @if (Model.LoadMore)
        {
            using (Ajax.BeginForm("SearchMovies", "Movies", new { page = Model.NextPage }, new AjaxOptions
            {
                UpdateTargetId = "searchMoviesResults",
                InsertionMode = InsertionMode.InsertAfter,
                OnComplete = "OnComplete",
                OnBegin = "OnBegin"
            }, new { @class = "loadMoreMoviesForm" }))
            {
                <button type="submit" id="loadMoreMovies" class="btn btn-primary col-md-2 col-md-offset-5"
                        data-loading-text="@WebResources.Loading <i class='fa fa-spinner fa-spin'></i>">
                    @WebResources.LoadMore
                </button>
            }
            
        }

    </div>
}

