<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@WebResources.SiteTitle</title>
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="~/Content/Site.css" />
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    @RenderSection("Styles", false)
</head>
<body>
    <div class="container body-content">
        <header class="page-header">
            <div class="row">
                <div class="col-md-2 text-center">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <div>
                            @WebResources.Greeting @User.Identity.Name
                        </div>
                        <div>
                            @Html.ActionLink(@WebResources.Logout, "Logout", "Auth")
                        </div>
                    }
                </div>
                <div class="col-md-8 text-center"><h1>@WebResources.SiteTitle <small>@WebResources.SiteAuthor</small></h1></div>
                @RenderSection("NewMovie", false)
                <div class="clearfix visible-md-block"></div>
            </div>
        </header>

        @RenderBody()
    </div>


    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    @RenderSection("Scripts", false);
</body>
</html>